*{
    background: grey;
    box-sizing: border-box;
    justify-content: center;
}


body{
    font-family: Arial, Verdana,sans-serif;
}

.tabla_productos{
    color: violet;
    background: grey;
    font-family: "Times New Roman", 'Courier New', serif ;
    font-size: 2rem;
    padding: 40px ;
    border: 20px solid green;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
    border-radius: 50px;
}