*{
    background: grey;
    box-sizing: border-box;
    justify-content: center;
}


body{
    font-family: Arial, Verdana,sans-serif;
}

.tabla_estilo{
    color:  indigo;
    background: grey;
    font-family: "Times New Roman", 'Courier New', serif ;
    font-size: 2rem;
    padding: 40px ;
    border: 10px solid green;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
    border-radius: 40px;
}

.indice{
    list-style: none;
}

.indice a{
    text-decoration: none;
    
}